.Quem-Somos{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left; /* jรก centraliza bonito */
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(/images/combate2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  padding: 10%;
  font-size: 150%;
  color: white;
}

.contato{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10%;
    font-size: 100%;
}